<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Fed-IT.nu: {{title}}</title>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="description" content="desc">
	<meta name="keywords" content="words">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
	<link rel="shortcut icon" href="/public/fedi_logo.svg">
	<style type="text/css">
	body{
		font-family: Arial;
	}
	</style>
</head>
<body>


<main style="width: 100%; max-width: 800px; margin: auto; text-align: justify;">
	<div style="float: right">
		<img src="/public/fedi_logo.svg" style="width: 50px" alt="Fediverse logo">
	</div>
<h1>Fed IT: {{title}}</h1>
{{{body}}}
</main>
</body></html>