<ul>
	<li><b>Federation:</b> Princippet om at forskellige hjemmesider kan dele indhold frit på kryds og tværs. Den officielle W3-protocol til federation med sociale medier hedder ActivityPub.</li>
	<li><b>Fediverset:</b> Alle de tjenester, der snakker sammen og indgår i netværket</li>
	<li><b>Instans:</b> Den hjemmeside, som en bruger er registreret hos, fx mstdn.dk</li>
	<li><b>Handle:</b> Det fulde brugernavn, som er en kombination af brugernavn og instans adskilt af "@" - fx @hej@fed-it.nu</li>
	<li><b>Platform:</b> Den type af tjeneste, som instansen kører - fx Mastodon, PixelFed, PeerTube, Friendica osv.</li>
</ul>