<h1>FED IT: Platforme i fediverset</h1>
<p>Fediverset er et udtryk for decentrale, udvekslende og brugernære platforme, som fokuserer på sociale medier.</p>

<h2>Oversigt over fede platforme</h2>
<p>En hurtig måde at få et overblik over fediverset's platforme er gennem <a href="https://axbom.com/fediverse/" target="_new">Per Axbom's træ</a>:</p>
<img src="/public/fedi-tree.png" alt="The many branches of the fediverse - by Per Axbom" style="width: 100%">

<p><a href="https://fediverse.party/" target="_new">Se også den officielle oversigt over Fediverse-platforme &gt;</a></p>